@media screen and (min-width: 350px) {
  .header__a:first-child {
    margin-right: 34px;
  }
}
@media screen and (min-width: 600px) {
  .header__inner::after {
    content: "";
    clear: both;
    display: table;
  }
  .header__inner_left {
    float: left;
  }
  .header__inner_right {
    float: right;
  }
  .header__bottom {
    margin-bottom: 25px;
  }
  .header__nav {
    position: static;
    float: right;
  }
  .header__menu-btn {
    display: none;
  }
  .header ul {
    display: block;
  }
  .header li {
    display: inline-block;
    border: 1px solid transparent;
    padding-right: 20px;
    margin-right: 12px;
  }
  .header li:last-child {
    margin-right: 0;
  }
  .header__logo {
    display: inline;
  }
}
@media screen and (min-width: 750px) {
  .slider__box {
    padding: 10px 50px;
  }
  .services__bottom {
    display: flex;
    justify-content: space-between;
  }
  .services__item {
    margin: 15px;
    padding: 20px 10px 140px;
    max-width: 360px;
  }
  .services__footer {
    display: block;
  }
  .services__a {
    display: block;
    padding-bottom: 20px;
  }
  .services__main-btn {
    display: block;
  }
  .owl-prev,
  .owl-next {
    display: block;
    z-index: 999;
    position: absolute;
    border: 1px solid #ffffff;
    color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    transition: background-color 0.3s;
    padding: 10px 16px;
  }
  .owl-prev:hover,
  .owl-next:hover {
    background-color: #ffc222;
  }
  .owl-prev {
    left: 0;
  }
  .owl-next {
    right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  .slider__text {
    margin: 25px auto 45px;
    max-width: 610px;
  }
  .services__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .services__a {
    padding-bottom: 0;
  }
}
